<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
    <header class="wc-header">
        <a href="/" class="wc-logo" title="{{ title }}">
            <span>web</span><img src="/icon.png" alt="webChronicle" class="wc-logo-icon"><span>Chronicle</span>
        </a>
    </header>
    <main class="wc-main">
        {% block content %}{% endblock %}
    </main>
    <footer class="wc-footer">
        <div class="wc-footer-text">
            Powered by <a href="https://webchronicle.app/">webChronicle</a>, a <a href="https://freshjuice.dev/">FreshJuice</a> product.
        </div>
    </footer>
</body>
</html>